*{
    scroll-behavior: smooth;
}
body{
    position: relative;
    font-family: "IBM Plex Sans";
    margin: 0 auto;
}

.home-container{
    width: 100%;
    height: 100vh;
    position: relative;
}

.bg{
  height: 100vh;
  animation: slide 10s ease-in-out infinite alternate;
  background-image: linear-gradient(49deg, #000000 55%, rgb(0 102 255 / 66%) 78%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position: absolute;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration:5s;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

.content-block{
    margin: 0;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    padding: 10px;
}

.home-title h1{
    margin: 0;
    font-size: 55px;
    color: white;
    font-size: clamp(3.438rem, 2.762vw + 2.79rem, 5rem);
    line-height: clamp(5.156rem, 2.376vw + 4.599rem, 6.5rem);
}

.home-title p{
    color: grey;
    margin: 0;
    font-size: 16px;
    font-size: clamp(1rem, 0.884vw + 0.793rem, 1.5rem);
    line-height: clamp(1.5rem, 0.796vw + 1.314rem, 1.95rem);
}

.links-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 20px;
}

.link-block a h1{
    border: 1px solid aqua;
    padding: 10px;
    border-radius: 20px;
    font-size: 16px;
    box-shadow: 0px 0px 8px 3px rgba(0,102,255,0.5);
    font-size: clamp(1rem, 0.884vw + 0.793rem, 1.5rem);
    line-height: clamp(1.5rem, 0.796vw + 1.314rem, 1.95rem);
}

.link-block a h1:hover{
    box-shadow: 0px 0px 14px 14px rgba(0,102,255,0.5);
    transition-duration: 0.5s;
}

.link-block a{
    text-decoration: none;
    color: white;
}

/* Skills Section */
#skills-section{
    width: 100%;
}
  
.main-nav {
  background-color: #1a3065;
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  position: sticky;
  top: 0;
  z-index: 1;
  height: 60px;
}

.skills-page {
  display: grid;
  row-gap: 30px;
  column-gap: 30px;
  padding: 30px;
  margin: 0 auto;
  grid-template-areas:
    "order" 
    "payment"
    "shipping"
    "total";
  grid-template-columns: 1fr;
  background-color: white;
  }
  
.logo {
  height: 25px;
  position: relative;
  top: 3px;
  padding-right: 5px;
}
  
.box {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px black;
  padding: 15px;
  margin-bottom: 20px;
  }
  
.box-title {
  color: black;
  font-weight: normal;
  font-size: 16px;
}
  
.order {
  grid-area: order;
}
  
.payment {
  grid-area: payment;
}

.shipping{
  grid-area: shipping;
  max-width: 800px;
}
  
.total {
  grid-area: total;
}  
  
.items {
  list-style: none;
  padding: 0;
  margin: 0;
}
  
.skills {
  border-bottom: 2px solid black;
  display: grid;
  
  padding: 10px 0;
    
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-areas: 
    "quantity title"
    "quantity options";
  
  row-gap: 8px;
  list-style: none;
  
}
  
.skills:last-child {
  border-bottom: none;
}
  
.skills-quantity {
  grid-area: quantity;
  color: black;
}
  
.skills-name {
  grid-area: title;
  font-weight: bold;
  color: black;
}
  
.skills-info-list {
  grid-area: options;
  color: black;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
}
  
.item-option {
  margin-bottom: 5px;
}
  
.input-group {
  position: relative;
  margin-bottom: 20px;
}
  
.user-input {
  background-color: rgba(0,0,0,0);
  border: 2px black solid;
  padding: 8px;
  border-radius: 100px;
  width: 95%;
  text-indent: 18px;
  font-size: 16px;
  color: black;
}
  
.user-input-label {
  color: #1a3065;
  background-color: white;
  font-size: 13px;
  position: absolute;
  left: 25px;
  top: -7px;
  padding: 0 2px;
}
  
.short-input {
  max-width: 200px;
}
  
.total {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
  
.totals-table {
  width: 100%;
  max-width: 500px;
  margin-bottom: 30px;
}
  
.totals-table td {
  padding: 10px;
}
  
.totals-table td:last-child {
  text-align: right;
}
  
.final-totals {
  font-weight: bold;
}
  
.checkout {
  background-color: #1a3065;
  color: white;
  border: none;
  padding: 10px 30px;
  width: 100%;
  border-radius: 100px;
  font-size: 16px;
  box-shadow: 0px 0px 8px 2px rgba(255,255,255,0.3);
  max-width: 800px;
}

.checkout:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  cursor: pointer;
}

/* About me section */
#about-me-section{
  width: 100%;
  margin: 0 auto;
}

.about-me-nav {
  background-color: #1a3065;
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  position: sticky;
  top: 0;
  z-index: 1;
  height: 60px;
}

.image{
  width: 100%;
  margin: 0 auto;
}

.image-src{
  width: 100%;
}

.caption{
  text-align: center;
  font-weight: bold;
  font-style: italic;
}

.about-me-page{
  display: grid;
  row-gap: 30px;
  column-gap: 30px;
  padding: 30px;
  margin: 0 auto;
  grid-template-areas:
    "intro" 
    "image"
    "hobbies"
    "why"
    "quiz";
  grid-template-columns: 1fr;
  background-color: white;
  max-width: 900px;
}

.intro{
  grid-area: intro;
  border-bottom: 1px solid black;
}

.image{
  grid-area: image;
}

.hobbies{
  grid-area: hobbies;
  border-bottom: 1px solid black;
}

.why{
  grid-area: why;
}

.header{
  text-align: center;
}

/* Quiz Section */
.quiz-container{
  text-align: center;
  display: flex;
  justify-content: center;
  grid-area: quiz;
}

.quiz-box{
  background-color: white;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0px 0px 8px 1px rgb(0 0 0 / 60%);
}

.quiz-container h2 {
  margin: 0 auto;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

#question{
  font-size: 22px;
  padding: 5px;
  margin: 0 auto;
}

.decision{
  margin: 40px 0px;
}

#choice0{
  font-size: 20px;
  margin: 1px;
}

#choice1{
  font-size: 20px;
  margin: 1px;
}

#choice2{
  font-size: 20px;
  margin: 1px;
}


.btn--quiz{
  background: #1a3065;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

#progress{
  font-weight: bold;
  padding: 10px;
}

/* Footer / Contact Section */
#footer-container{
  background-color: #1a3065;
  color: white;
  width: 100%;
  text-align: center;
  font-size: 16px;
  padding: 10px 0px;
}

#footer-container a{
  text-decoration: none;
  color: white;
}

#footer-container span{
  text-decoration: underline;
}

/* Screen Responsiveness */
@media screen and (min-width: 320px){

}

@media screen and (min-width: 480px){
  .quiz-box{
    width: 500px;
  }
}

@media screen and (min-width: 680px){
  .skills-page{
    display: grid;
    grid-template-areas:
        "order payment shipping"
        "total total total";
    grid-template-columns: 1fr 1fr 1fr;
  }  
  .about-me-page{
    grid-template-areas:
    "intro image" 
    "hobbies image"
    "why image"
    "quiz quiz";
    grid-template-columns: 3fr 1fr; 
    row-gap: 0px;
  }
}

@media screen and (min-width: 768px){

}

@media screen and (min-width: 900px){

}

@media screen and (min-width: 1200px){

}

@media screen and (min-width: 1500px){

}

@media screen and (min-width: 1600px){

}